@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.2/css/all.min.css");

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  display: block;
  background: lightgray;
  width: 100px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  margin-right: 12px;
  font-size: 50px;
  color: black;
  text-align: center;
}

.fa-facebook:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-google-plus:hover {
  color: #DB4437;
}

.fa-linkedin:hover {
  color: #0072b1;
}

.fa-instagram:hover {
  color: #5B51D8;
}
