html {
    font-family: Helvetica, sans-serif;
    padding: 30px;
}

header {
    display: inline-block;
}

nav {
    display: inline-block;
}

h1 {
    display: inline-block;
    margin-right: 80px;
}

li {
    
    display: inline-block;
    list-style: none;
    font-size: 14px;
    margin-right: 20px;
}

a {
    color: rgb(25, 182, 25);
    text-decoration: none;
}

hr {
    border-top: 2px solid;
}